@font-face {
    font-family: "DFVN Orenji";
    src:
        url("../fonts/DFVN_Orenji.ttf") format("truetype"),
        url("../fonts/DFVN_Orenji.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
